.infobox {
  padding: 1em 1em 0em 4.5em;
  margin-bottom: 5px;
  border-radius: 10px;  
  background: transparent 10px center/3em no-repeat;
}

.information {
  border: 4px solid #0091EA;    
  background-image: url("images/circle-info-solid.svg");
}


.caution {
  border: 4px solid #F9A825;  
  background-image: url("images/triangle-exclamation-solid.svg");
}


.warning {
  border: 4px solid #D32F2F;    
  background-image: url("images/bomb-solid.svg");
}


.tip {
  border: 4px solid #4CAF50;    
  background-image: url("images/lightbulb-regular.svg");
}


/* https://codepen.io/jimmycow/pen/LmjVaz */

.blockquote {
    padding: 60px 80px 40px;
    position: relative;
}
.blockquote p {
/*    font-family: "Utopia-italic"; */
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}

/*blockquote p::before {
    content: "\f095"; 
    font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
  font-size: 180px;
 }*/

.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  
  content:"\f10d";
  font-size: 200px;
  color: rgba(0,0,0,0.1);
   
}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    height: 3px;
    width: 200px;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:400italic);
.otro-blockquote{
  font-size: 1.1em;
  width:100%;
  margin:50px auto;
  font-family:Noto Sans KR;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Noto Sans KR;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

